{% extends 'base.html.twig' %}

{% block body %}
    <h1>PostImage list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Path</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for postImage in postImages %}
            <tr>
                <td><a href="{{ path('postimage_show', { 'id': postImage.id }) }}">{{ postImage.id }}</a></td>
                <td>{{ postImage.path }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('postimage_show', { 'id': postImage.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('postimage_edit', { 'id': postImage.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('postimage_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
